body{
	background: #eee;
}

nav{
	background: #fff;
}

/***********************
* STRUCTURE
***********************/
#wrapper{
	padding-top: 20px;
	width: 980px;
	margin: 0 auto;
	overflow: hidden;
	min-height: 650px;
}

#wrapper > #subnav{
	width: 500px;
	margin-left: -340px;
	float: left;
	padding: 0;
	margin-top: 18px;
	position: absolute;
	overflow-x: visible;
	overflow-y: auto;
}

#wrapper > #content{
	margin-left: 190px;
	width: 650px;
	float: left;
}


/***********************
* SUBNAV
***********************/
#wrapper > #subnav li{
	margin-bottom: 3px;
	text-align: right;
	border-right: 3px solid transparent;
	padding-right: 10px;
	position: relative;
	clear:both;
}

#wrapper > #subnav li.de-emphasized{
	font-family: Kalinga;
	font-size: 12px;
	font-style: italic;
	color: #aaa;
	margin-bottom: 0;
	margin-top: 10px;
}
#wrapper > #subnav li.head{
	font-family: Kalinga;
	font-size: 14px;
	color: #888;
	border-bottom: 1px solid #CCC;
	margin-top: 30px;
	padding-right: 0;
	margin-right: 10px;
	width: 140px;
	float: right;
}

#wrapper > #subnav li.head.first{
	margin-top: 0;
}

#wrapper > #subnav li .isActiveIndicator{
	width: 4px;
	height: 20px;
	position: absolute;
	right: 0;
	top: 0;
	display: none;
}

#wrapper > #subnav li.active .isActiveIndicator{
	display: block;
	background-color: #00CCFE;
}

#wrapper > #subnav li a:hover{
	color: #0da4d3;
}

#wrapper > #subnav li a{
	font-family: Kalinga;
	font-size: 14px;
	color: #202020;
	text-decoration: none;
}

#wrapper > #subnav li.active a{
	color: #00CCFE;
}

#wrapper > #subnav li .overview{
	margin-bottom: 10px;
}

#wrapper > #subnav li .overview li{
	margin: 0;
	padding: 0;
	border: none;
}

#wrapper > #subnav li .overview li a{
	font-size: 11px;
	font-family: Arial, sans-serif;
	color: #666;
	display: block;
	padding: 3px 0;
}

#wrapper > #subnav li .overview li a:hover{
	color: #0da4d3;
}

#wrapper > #subnav li .overview li a.active{
	color: #ef7d17;
}

#content a:target{
	color: #ef7d17;
}

#content .target{
	border: 1px solid #ef7d17;
}

#content .target h2 a{
	color: #ef7d17;
}

/***********************
* DOCS INDEX
***********************/
#docsIndex{
	background: #fff;
	padding: 20px;
	box-shadow: 0 0 2px rgba(0,0,0,0.3);
}

#docsIndex ul{
	overflow: hidden;
	padding: 0;
}

#docsIndex li{
	float: left;
	margin: 10px 20px;
	width: 290px;
	padding: 0 !important;
	list-style-type: none !important;
}

#docsIndex li a{
	display: block;
	padding: 10px;
	text-decoration: none;
	color: #333;
	cursor: pointer;
	box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.1);
	transition: box-shadow 400ms ease;
}

#docsIndex li a:hover{
	box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.3);
}

#docsIndex li a h5{
	margin: 0 0 3px !important;
	padding-bottom: 2px;
}

/***********************
* CONTENT
***********************/
#wrapper > #content{
	margin-bottom: 10px;
}

#wrapper > #content .section{
	background: #fff;
	margin-bottom: 20px;
	padding: 20px;
	box-shadow: 0 0 2px rgba(0,0,0,0.3);
}

#wrapper > #content .section h2 a{
	color: #202020;
}

#wrapper > #content h2,
#wrapper > #content table.args *,
#wrapper > #content p{
  font-family: Roboto Light, sans-serif;
  font-size: 15px;
  color: #202020;
  font-weight: 100;
}

#wrapper > #content p{
	margin: 16px 0;
	line-height: 21px;
}

#wrapper > #content h2{
	font-family: Kalinga;
	font-size: 14px;
	margin-top: 50px;
	font-weight: normal;
	padding-bottom: 5px;
}

#wrapper > #content h2:first-child{
	margin-top: 0;
}

#wrapper > #content h4{
	font: 12px Arial, sans-serif;
	margin-top: 20px;
	padding-bottom: 2px;
	border-bottom: 1px solid #ccc;
	margin-bottom: 10px;
	font-weight:bold;
}

#wrapper > #content h5{
	font: 12px Arial, sans-serif;
	margin-top: 20px;
	margin-bottom: 5px;
	font-weight:bold;
}

#wrapper > #content table.args{
	text-align: left;
	width: 100%;
	vertical-align: top;
}

#wrapper > #content table.args th{
	font-weight: normal;
	color: #888;
	width: 14%;
}

#wrapper > #content table.args td{
	border-bottom: 1px dashed #ccc;
	padding-bottom: 5px;
	vertical-align: top;
}

#wrapper > #content table.args tr:last-child td{
	border: none;
}

#wrapper > #content table.args .description{
	width: 44%;
}

#wrapper > #content pre{
	margin: 10px 0;
	box-shadow: 0 0 2px rgba( 0,0,0,0.4 );
	display: block;
	overflow-x: auto;
	padding: 0.5em;
	background: #23241f;
	color: #FFF;
}

#wrapper > #content h1{
  font-family: Kalinga;
  font-size: 20px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 3px;
  margin-bottom: 10px;
  font-weight: bold;
}
#wrapper > #content h3{
  font-family: Kalinga;
  font-size: 18px;
  border-bottom: 1px solid #ccc;
  margin-top: 45px;
  font-weight: bold;
}

#wrapper > #content ul, #wrapper > #content ul li{
  list-style-image: url(../images/bullet-hx.png);
  font: 14px Roboto-light, sans-serif;
  line-height: 20px;
}

 #wrapper > #content ul li{
 	padding-top: 5px;
 	padding-bottom: 5px;
 }

 #wrapper > #content code:not(pre code){
	color: #444;
	background-color: #f3f3f3;
	font-family: "Courier New", monospace !important;
 }

#wrapper > #content pre code{
	color: #fff;
}

#wrapper > #content div.info{
	border-left: 2px solid #00509a;
	color:#00509a;
	background:#c9e5ff;
	margin: 16px 0;
	font: 12px Arial, sans-serif;
	padding: 5px;
	font-weight: bold;
}

#wrapper > #content img.centered{
	margin: 5px auto;
	display: block;
}

.category_tutorials #wrapper > #content, .category_info #wrapper > #content  {
	background: #fff;
	padding: 40px;
}
/** category_tutorials **/

#categoryList, #categoryList li{
	margin: 0;
	padding: 0;
	list-style-type: none;
}

#categoryList, #categoryList li{
	overflow: hidden;
}

#categoryList li img{
	display: block;
	float: left;
	margin-right: 10px;
}

#categoryList li a{
	display: block;
	overflow: hidden;
	cursor: pointer;
}

#categoryList li a:hover{
	background: #eee;
}

#categoryList li .right{
	float: left;
	width: 500px;
}

#wrapper #content #categoryList li h3{
	margin: 0 0 5px;
	border: none;
}

#wrapper #content table.mini{
	width: 100%;
}

#wrapper #content table.mini *{
	font: 12px/16px Arial, sans-serif;
	color: #333;
}

#wrapper #content table.mini th,
#wrapper #content table.mini td{
	vertical-align: top;
	text-align: left;
}

#wrapper #content table.mini th{
	font-weight: bold;
}

#wrapper #content table.mini tr:nth-child(odd) td{
	background: #f3f3f3;
}

#wrapper #content table.mini td{
	padding: 10px 5px;
}

#wrapper #content table.mini th{
	background: #666;
	color: #fff;
	font-weight: bold;
}

#wrapper #content table.mini i{
	margin: 0 3px 0 6px;
	color: #fff;
}

#wrapper #content table.mini code{
	font-family: "Courier New", monospace;
}

#wrapper #content table.constants td:first-child{
	width: 60%;
}

#wrapper #content .center{
	margin: 0 auto;
	display: block;
}

#wrapper .message-structure{
	font: 16px "Courier New",monospace;
	text-align: center;
}

#wrapper a.mega{
	font-family: 'Montserrat', Arial;
	display: block;
	padding: 10px;
	background: #f6f6f6;
	font-size: 18px;
	text-align: center;
	color: #145068;
	text-decoration: none;
	margin: 16px 0;
	box-shadow: 0px 1px 2px 0px rgba( 0,0,0, 0.1);
	border-radius: 3px 3px 3px 3px;
	border: solid #ccc 1px;
	border-bottom: 2px solid #ccc;
}

#wrapper a.mega:hover{
	background: #ddd;
}

#wrapper a.mega i{
	margin-right: 15px;
}

.fa{
	font-family: FontAwesome !important;
}

.img-container{
	text-align: center;
	margin: 16px 0;
}

table.space{
	margin: 16px 0;
}

.hint-box{
	padding: 0 16px 16px 38px;
	background: #f0f9fc;
	overflow: hidden;
}

body .hint-box,
body .hint-box *{
	color: #145068;
	font-family: Arial, sans-serif;
}

.hint-box h3{
	border: none !important;
	margin-top: 0;
	font-weight: bold;
}

.hint-box code{
	font-family: "Courier New", monospace;
	background-color: #FFF;
}

#wrapper #content .hint-box ul li{
	list-style-type: none;
	list-style-image: none;
}

.hint-box:before{
	font-size: 70px;
	float:left;
	color: #cae4ed;
	position: relative;
	left: -20px;
	top: 10px;
	font-family: FontAwesome !important;
}


#content a{
	color: #1999c3;
}
