#downloads *{
	font: 12px/16px Arial, sans-serif;
	color: #333;
}

#downloads h2{
	font-size: 16px;
	color: #333;
	padding-bottom: 3px;
	margin-top: 20px;
	font-family: Montserrat, Arial, sans-serif;
	color: #28A2C4;
	font-size: 20px;
	font-weight: 500;
	padding-bottom: 10px;
	position: relative;
}

#downloads p{
	margin-bottom: 10px;
	font-size: 12px;
	color: #666;
	font-family: Roboto;
}

#downloads ul{
	overflow: hidden;
}

#downloads li{
	margin: 0 10px;
}

#downloads .download-item-header{
	font-size: 18px;
	font-family: Montserrat, Arial, sans-serif;
	color:#145068;
}

#downloads .top .download-item-header{
	font-weight: 700;
}

#downloads .pckg-name{
	color: #666;
}

#downloads .download-link{
	display: inline-block;
	height: 21px;
	margin-right: 10px;
	overflow: hidden;
}

#downloads .download-link *{
	display: block;
	float: left;
}

#downloads .download-link i{
	width: 9px;
  	height: 20px;
	background: url( ../images/tag-start.svg );
}

#downloads .download-link span{
	background: #999;
	color: #fff;
	vertical-align: top;
	text-decoration: none;
	padding: 2px 6px;
	font-family: Roboto;
	font-size: 11px;
}

#downloads .top{
	background: #ffffff;
	background: -moz-linear-gradient(top,  #ffffff 81%, #eeeeee 98%, #dcdcdc 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(81%,#ffffff), color-stop(98%,#eeeeee), color-stop(100%,#dcdcdc));
	background: -webkit-linear-gradient(top,  #ffffff 81%,#eeeeee 98%,#dcdcdc 100%);
	background: -o-linear-gradient(top,  #ffffff 81%,#eeeeee 98%,#dcdcdc 100%);
	background: -ms-linear-gradient(top,  #ffffff 81%,#eeeeee 98%,#dcdcdc 100%);
	background: linear-gradient(to bottom,  #ffffff 81%,#eeeeee 98%,#dcdcdc 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dcdcdc',GradientType=0 );
	width: 100%;
}

#downloads .top i.fa{
	color: #145068;
	font-size: 20px;
	position: absolute;
	left: -33px;
	top: 2px;
}

#downloads i.fa{
	font-family: FontAwesome;
}

#downloads .top ul{
  margin: 0 auto;
}

#downloads .top li{
	margin: 60px 0;
	position: relative;
}

#downloads code{
	margin: 7px 0;
	display: block;
}

#downloads code *{
	font:14px "Courier New", monospace;
	font-weight: bold;
}

#downloads .top code *{
	font:18px "Courier New", monospace;
	color: #333;
	font-weight: normal;
}

#downloads hr{
	border: none;
	border-bottom: 1px solid #ddd;
	margin: 40px 0 23px;
}

#downloads .section{
  	margin: 40px auto;
  	padding: 0 80px;
}

#downloads .section li{
	display: block;
	margin: 20px 0;
}

#downloads .section h2{
	position: relative;
}

#downloads .section h2 i{
	font-size: 20px;
	color: #28A2C4;
	position: absolute;
	left: -28px;
}

#downloads .write-your-own{
	color: #145068;
	background: #f0f9fc;
	padding: 3px;
}
#downloads .write-your-own i{
	color: #cae4ed;
}

#downloads .write-your-own a{
	display: inline;
	color: #145068;
}

@media( min-width: 900px ) {
	#downloads .top ul{
  		width: 800px;
  		padding-left: 102px;
	}
	
	#downloads .top li{
		float: left;
	}

	#downloads .top li.deepstream_io{
		margin-right: 184px;
	}

	#downloads .section{
	 	width: 700px;
	}

	#downloads p{
		width: 530px;
	}

	#downloads code .pckg-name:after {
		content: ': ';
	}
}

@media( max-width: 899px ) {
	#downloads .top li {
  		display: block;
	}

	#downloads .top ul, #downloads .section {
		padding: 0 50px;
	}

	#downloads .write-your-own a {
		display: block;
	}

	#downloads .top-downloads, #downloads .section {
		max-width: 250px;
	}

	#downloads code .pckg-name {
		margin-bottom: 5px;
		display: block;
	}
}