.nav ul {
	display: inline-block;
	top: 0;
	left: 0;
	z-index: 1;
}
.nav li {
	opacity: 1;
	background-size: 4px;
	margin: 0px 10px 0px 10px;
	transition: opacity 300ms ease;
	text-align: center;
}
.nav li.active a {
	color: #00CCFE;
	border-style: solid;
	padding: 14px;
	border-width: 4px 0px 0px;
	border-color: #00CCFE;
}
.nav li:hover {
	opacity: 0.2;
	color: red;
	border-top: 4px;
	border-color: #00CCFE;
}
.nav a {
	padding: 18px 20px 10px 10px;
	display: block;
	font-size: 14px;
	font-family: 'Quicksand', sans-serif;
	font-weight: 500;
	text-decoration: none;
}

/****************************
* DESKTOP NAVIGATION
****************************/
.desktop-nav {
	position: relative;
	height: 60px;
	text-align: center;
	z-index: 1;
	overflow: hidden;
}
.desktop-nav img {
	display: none;
}
.compact-header .desktop-nav {
	height: 40px;
	padding: 0px 200px 0px 0px;
}

.desktop-nav li {
	float: left;
}

.desktop-nav a {
	color: #fff;
}

/****************************
* MOBILE NAVIGATION
****************************/
body.menu-open {
	overflow: hidden;
}
body.menu-open .mobile-menu {
	left: 0;
}
.mobile-menu {
	transition: .3s;
	left: 110%;
	z-index: 2;
	position: fixed;
	top: 42px;
	height: 100%;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.95);
}
.mobile-nav {
	font-size: 16px;
	width: 150px;
	margin: 50px auto 0 auto;
	text-align: center;
}

.mobile-nav li a {
		color: #145068;
		padding: 14px;
		background-color: #E7E8EF;
		border-radius: 2px;
		margin: 10px;
}

.mobile-nav li.active a {
		color: #00CCFE;
		border-style: solid;
		border-width: 2px;
		border-color: #00CCFE;
		border-radius: 2px;
}

.menu-button {
	top: 7px;
	right: 10px;
	display: none;
	position: absolute;
}
.menu-button .fa-bars {
	color: #ccc;
	font-size: 30px;
	cursor: pointer;
}
.menu-button .fa-bars:hover {
	color: white;
}

@media( max-width: 1080px) {
	.desktop-nav a {
		padding: 18px 0 10px 0;
	}
}
@media( max-width: 1080px) and (min-width: 750px) {
	.small-logo.micro {
		display: none;
	}
	.compact-header .desktop-nav  {
		padding: 0px;
	}
}
@media( max-width: 749px) {
	.desktop-nav {
		display: none;
	}
	.menu-icon {
		display: block;
	}
	#outer-wrapper #header {
		height: 42px;
		/*position: fixed;
		top: 0;
		width: 100%;*/
	}
}
