/****************************
* GENERAL
****************************/
*{
	margin: 0;
	padding: : 0;
	list-style-type: none;
}

html, body{
	height: 100%;
}

#outerWrapper{
	min-height: 100%;
	height: auto !important;
	height: 100%;
	overflow: hidden;
	margin-bottom: -147px;
}

#footerPush{
	height: 147px;
}



#main-background{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

