body{
  background-color: red
}

.segment-label{
  position: relative;
  top: 55px;
  right: 340px;
  color: #22C9F1;
  font-size: 23px;
  font-family: 'Quicksand', sans-serif; font-weight: 400;
  opacity: 1;

}

#segment-diagram{
 background-color: #37505A
}

.diagram{
  background: url(../images/diagram-ani-vSVG.svg) no-repeat center center;
  height: 600px;
  text-align: center;
  color: white;
}

.diagram-label-1{
  font-family: 'Quicksand', sans-serif; font-weight: 300;
  position: relative;
  top: 115px;
  opacity: 0.5;

}

.diagram-label-2{
  font-family: 'Quicksand', sans-serif; font-weight: 300;
  position: relative;
  top: 138px;
  opacity: 0.5;

}

.diagram-label-3{
  font-family: 'Quicksand', sans-serif; font-weight: 300;
  position: relative;
  top: 161px;
  opacity: 0.5;

}

.diagram-label-4{
  position: relative;
  top: 230px;
  font-family: 'Montserrat', sans-serif;
  opacity: 1;

}

.diagram-label-5{
  font-family: 'Quicksand', sans-serif; font-weight: 300;
  position: relative;
  top: 364px;
  opacity: 0.5;

}