/****************************
* GENERAL
****************************/

* {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
html,
body {
	height: 100%;
}
#outer-wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	overflow: hidden;
}
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }

/****************************
* FONTS
****************************/

@font-face {
	font-family: 'Kalinga';
	src: url('../fonts/Kalinga.eot');
	src: local('Kalinga'), url('../fonts/Kalinga.woff') format('woff'), url('../fonts/Kalinga.ttf') format('truetype');
}

/****************************
* HEADER WITH LOGO
****************************/
#header {
	background-color: #145068;
	height: 62px;
	border-style: solid;
	border-width: 0px 0px 2px 0px;
	border-color: #0C394B;
	z-index: 2;
}
#header.compact-header {
	height: 42px;
}
#header.compact-header .header-tiny-logo{
	display: block;
}
.header-tiny-logo {
	background: url(../images/deepstream--small-logo.svg) no-repeat center center;
	height: 100%;
	text-align: center;
	color: white;
	position: relative;
	width: 200px;
	float: left;
}
.header-tiny-logo h1 {
	width: 200px;
	height: 40px;
	text-indent: -9999px;
	left: 0;
	top: 0;
	margin: 0;
}
.header-tiny-logo h1 a {
	display: block;
	width: 100%;
	height: 100%;
	cursor: pointer;
	text-indent: -9999px;
}

.start-page .header-tiny-logo {
	display: none;
}

@media( min-width: 750px ) {
	.header-tiny-logo {
		display: none;
	}
}
/****************************
* FOOTER
****************************/

#footer {
	clear: left;
	padding: 5px;
	background-color: #333;
	border-top: 1px solid #000;
	overflow: hidden;
	box-shadow: inset 0 4px 24px rgba(0, 0, 0, 0.7);
	position: relative;
}
#footer b {
	font-weight: bold;
}
#footer .copyright {
	text-align: center;
	font-size: 10px;
	font-family: Arial, sans-serif;
	color: #AAA;
	margin: 10px 0px 0px 20px;
}
#footer h4 {
	font-size: 14px;
	font-weight: bold;
	color: #AAA;
	margin-bottom: 10px;
}
#footer ul.footer-items > li p {
	margin-bottom: 3px;
}
#footer ul.footer-items > li.about {
	border: none;
}
#footer ul.footer-items > * {
	width: 299px;
	height: 100px;
	padding: 10px 10px 0px 0px;
}
#footer .social a {
	display: block;
	background-position: left center;
	background-repeat: no-repeat;
}
.footer-left {
	text-align: left;
	color: #ccc;
	font-family: 'Arial', sans-serif;
	font-size: 10px;
	opacity: 1;
}
.footer-left a {
	color: #fff;
	font-family: 'Arial', sans-serif;
	font-size: 11px;
}
.footer-middle {
	text-align: center;
	color: #ccc;
	font-family: 'Montserrat', sans-serif;
	font-size: 10px;
	opacity: 1;
}
#footer .social a, .footer-middle a {
		padding: 5px 0;
}
.footer-middle li {
	margin: 2px 0;
}

.footer-right a, .footer-middle a {
	padding: 0px 0px 0px 0px;
	text-align: left;
	color: #ccc;
	font-family: 'Quicksand', sans-serif;
	font-style: normal;
	text-decoration: none;
	list-style-type: none;
	font-size: 14px;
	opacity: 1;
}
.footer-right a:hover {
	color: #fff;
}
@media( min-width: 950px) {
	#footer {
		height: 160px;
	}
	#footer ul.footer-items {
		width: 960px;
		margin: 10px auto;
	}
	#footer ul.footer-items > * {
		float: right;
	}
	.footer-middle {
		left: -70px;
		position: relative;
	}
	.footer-middle h4 {
		display: none;
	}
}
@media( max-width: 949px) {
	.footer-left, .footer-right {
		display: block;
	}
	#footer ul.footer-items > .footer-middle {
		text-align: left;
		margin-top: 10px;
	}
	.footer-middle li {
		margin: 1px 0;
		padding: 1px 0;
	}
	#footer ul.footer-items > * {
		margin: 0 25px;
	}
	#footer .social a {
		padding: 5px 0;
	}
	#footer ul.footer-items > .footer-left, #footer ul.footer-items > .footer-middle {
		height: 150px;
	}
}