body{
  background-color: #333;
}

/****************************
* HEADER
****************************/

#segment-header{
  text-align: center;
  overflow: hidden;
  color: #145068;
  height: 376px;
  background: url(../images/header-back.svg) repeat-x center top;
}

.header-logo{
  background: url(../images/deepstream-logo.svg) no-repeat 109px 55px;
  position: relative;
  height: 376px;
  width: 960px;
  left: 50%;
  margin-left: -460px;
  color: white;
}

.header-text{
  width: 500px;
  height: 270px;
  position: absolute;
  margin: 73px 0px 0px 434px;
}

.header-strapline{
  color: #22C9F1;
  text-align: left;
  margin: 0px 0px 0px 4px;
  font-size: 18px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  opacity: 1;
}

.header-bullets{
  text-align: left;
  color: #fff;
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  margin: 29px 0px 0px 0px;
  opacity: 1;
}

.header-bullets li{
  list-style-type: circle;

}

.header-buttons{
  padding: 40px 0px 0px 0px;
  margin: 0px 0px 0px -20px;
  width: 100%;
  height: 100px;
}

.first-btn,
.second-btn
 {
  display: inline-block;
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  -webkit-box-shadow: 0px 2px 3px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 2px 3px rgba(0,0,0,0.5);
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #ffffff;
  font-size: 12px;
  background: #28A1C3;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border-style: solid;
  border-color: #027291;
  border-width: 0px 0px 3px 0px;
  position: relative;
  top: 0px;
  margin: 0px 0px 0px 10px;
  transition: all 100ms ease;
}

.second-btn{
  background: #145068;
  border-color: #0E4054;   
 }

.first-btn:hover,
.second-btn:hover{
  background: #3cb0fd;
  border-color: #017EA8;
  top: -2px;
  -webkit-box-shadow: 0px 2px 12px rgba(0,0,0,0.7);
  -moz-box-shadow: 0px 2px 12px rgba(0,0,0,0.7);

 }

.first-btn:active,
.second-btn:active {
  background: #3cb0fd;
  text-decoration: none;
  top: 4px;
  border-width: 0px 0px 0px 0px;
  -webkit-box-shadow: 0px 2px 3px rgba(0,0,0,0.01);
  -moz-box-shadow: 0px 2px 3px rgba(0,0,0,0.01);

}




/****************************
* CODE SAMPLES
****************************/

#segment-code{
 background: #272822;
 text-align: left;
 color: #fff;
 height: 280px;
 box-shadow: inset 0px 5px 10px 0px rgba(0,0,0,0.3);

}

.codes{
  width: 1200px;
  height: 100%;
  margin: auto;
}

.code-left{
  width: 464px;
  height: 200px;
  display: inline-block;
  float: left;
  padding: 50px 0px 0px 135px;
}
/*
.code-seperator{
  border: black;
  border-style: solid;
  border-width: 0px 0px 0px 4px;
  width: 4px;
  height: 100%;
  display: inline-block;
}
*/


.code-right{
  width: 444px;
  height: 230px;
  display: inline-block;
  float: left;
  padding: 50px 0px 0px 80px;
  border-style: solid;
  border-color: black;
  border-width: 0px 0px 0px 4px;
}

/****************************
* EXAMPLE APP
****************************/
#segment-example-app .phone-top-wrapper{
  width: 1000px;
  height: 60px;
  margin: -60px auto 0;
}

.segment-example-label{
  position: relative;
  text-align: left;
  top: 89px;
  left: 235px;
  color: #AEAEAE;
  font-size: 12px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  opacity: 1;
}

#segment-example-app .phone-top{
  width: 325px;
  height: 62px;
  background: url(../images/phone-top.svg);
  position: relative;
  left: 648px;
  top: 0px;
}

#segment-example-app{
 text-align: center;
 color: #145068;
 height: 636px;
}

#segment-example-app-wrap{
  background: #fff;
}

.example-app{
  /*background: url(../images/exmpl-app.svg) no-repeat center center;*/
  height: 100%;
  text-align: center;
  color: white;
  overflow: hidden;
}

/****************************
* 3 LARGE ICONS
****************************/

#segment-three-icons{
  background: #C7D7DC;
  text-align: center;
  color: #145068;
  height: 100%;
  padding: 0px 0px 60px 0px;

}

#three-icons {
  /* width: 1000px; */
  height: 100%;
  padding: 0;
  margin: 0;
  display: inline-block;
}

.three-icons-label {
  text-align: center;
  color: #37505A;
  padding: 310px 0px 0px 0px;
  font-size: 23px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
}

#left-records,
#center-events,
#right-rpcs{
  float: left;
  margin: -60px 0px 0px 0px;
  /* width: 33.33333333%; */
  height: 100%;
}

#left-records {
    background: url(../images/icon-records.svg) no-repeat center center;
}

#center-events {
    background: url(../images/icon-events.svg) no-repeat center center;
}

#right-rpcs {
    background: url(../images/icon-RPCs.svg) no-repeat center center;
}

.records-text,
.events-text,
.rpcs-text{
  width: 240px;
  padding: 20px 0px 0px 40px;
  font-size: 12px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;

}

/****************************
* DIAGRAM
****************************/

.segment-label{
  position: relative;
  top: 71px;
  right: 356px;
  color: #22C9F1;
  font-size: 23px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  opacity: 1;

}

#segment-diagram{
 background-color: #37505A
}

.diagram{
  background: url(../images/diagram-ani-vSVG.svg) no-repeat center center;
  height: 600px;
  text-align: center;
  color: white;
}

.diagram-label{
  font-family: 'Quicksand', sans-serif; font-weight: 300;
  position: relative;
  opacity: 0.5;
}

.diagram-label-1{
  top: 115px;
}

.diagram-label-2{
  top: 138px;
}

.diagram-label-3{
  top: 161px;
}

.diagram-label-4{
  top: 230px;
  font-family: 'Montserrat', sans-serif;
  opacity: 1;

}

.diagram-label-5{
  top: 364px;
}

/****************************
* SECURITY
****************************/

#segment-security{
 background: #22C9F1 url(../images/decrtn-SecrPath.svg) no-repeat right;
 text-align: center;
 color: white;

}

#segment-security .lock{
  background: url(../images/icon-padlock.svg) no-repeat left 37px;
  width: 1048px;
  height: 275px;
  margin: 0 auto;
  color: white;
}

.security-text{
  font-family: 'Montserrat', sans-serif;
  opacity: 1;
  width: 430px;
  text-align: left;
  padding: 60px 335px 24px;

}

.security-bullets{
  font-family: 'Quicksand', sans-serif; font-weight: 300;
  font-size: 14px;
  opacity: 1;
  width: 430px;
  text-align: left;
  padding: 0px 355px;

}

.security-bullets li{
  list-style-type: circle;

}





