/**********************
* Two examples
**********************/
.two-examples{
	overflow: hidden;
	width: 650px;
}

.two-examples a{
	display: block;
	float: left;
	cursor: pointer;
	width: 325px;
	text-align: center;
	text-decoration: none;
	background: #fff;
	padding: 10px 0;
	transition: background 300ms ease;
}

.two-examples a:hover{
	background: #eee;
}

.two-examples img{
	margin-bottom: 10px;
	display: inline-block;
}

.two-examples label{
	display: block;
	text-align: center;
	font-family: "Roboto Light", sans-serif;
	color: #202020;
	text-decoration: none;
	font-size: 12px;
}

/**********************
* Demo
**********************/
.webrtc-example {
	margin: 25px;
	width: 600px;
	height: 500px;
	position: relative;
}

.error-screen{
	width: 100%;
	height: 100%;
	position: absolute;
	background: rgba( 255,255,255,0.7);
	left: 0;
	top: 0;
	z-index: 9;
	display: none;
}

.error-screen .inner{
	width: 280px;
	margin: 200px 150px;
	border: 1px solid crimson;
	background: #fff;
	padding: 10px;
	box-shadow: 1px 26px 80px 1px rgba(0,0,0,0.4), 0px 0px 6px 1px rgba(0,0,0,0.3);
}

.error-screen .inner *{
	color: crimson;
}

.error-screen .inner .fa{
	font-size: 32px;
    margin: 0 20px;
    float: left;
}

.error-screen .inner .msg, .error-screen .inner .msg *{
	font-family: "Roboto Light", sans-serif;
	font-size: 14px;
}

.welcome-screen {
    box-shadow: 1px 26px 80px 1px rgba(0,0,0,0.4), 0px 0px 6px 1px rgba(0,0,0,0.3);
	position: absolute;
	top: 75px; 
	bottom: 110px;
	left: 100px;
	right: 100px;
	z-index: 1;
	background-color: white;
}

.title {
	font-family: 'quicksand';
	font-weight: 700;
}

.body, .header {
	padding: 20px;
}

.tshirt {
	background-image: url( '../images/shirt.svg' );
	background-size: 125px;
    width: 125px;
    height: 125px;
    position: absolute;
    right: 20px;
    top: 25px;
}

.header {
	box-shadow: inset 0px -2px 4px -1px rgba(0,0,0, 0.2);
	background-color: rgb( 236, 253, 251 );
	color: rgb( 15, 80, 105 );
	font-weight: bold;
}

.disclaimer {
	width: 230px;
	height: 115px;
    display: block;
	font-size: 16px;
	color: rgb( 125, 126, 126 );
}

.disclaimer-text {
    font-size: 15px;
}

.disclaimer span, .note {
	font-family: 'Roboto';
}

.disclaimer span.highlight, .note {
	font-style: italic;
}

.disclaimer .highlight {
	color: rgb( 41, 154, 158 );
}

.conference {
	width: 600px;
	height: 450px;
	border: 1px solid gray;
}

.webrtc-example.active .welcome-screen {
	display: none;
}

.note {
	text-align: center;
	font-size: 13px;
	color: rgb( 125, 126, 126 );
}

.btn.btn-start {
	display: block;
}

.btn span {
	color: white;
}

.buttons {
	margin: auto;
	text-align: center;
}

.buttons .fa-spinner {
	display: none;
}

.buttons .changing-room .fa-spinner {
	display: inline-block;
}

.buttons .changing-room .fa-share {
	display: none;
}

.btn {
	font-family: 'quicksand';
	display: inline-block;
	position: relative;

	height: 40px;
	width: 150px;
    border-radius: 25px;
    margin: 15px auto;

	background-color: rgb( 41, 154, 158 );
    box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.2), inset 0px -3px 0px 0px rgba(0,0,0,0.3);

   	font-weight: bold;
    font-size: 15px;
    color: white;
    line-height: 40px;
    text-align: center;
    cursor: pointer;

    transition: all 100ms ease;
}

.btn:hover {
	top: -2px;
}

.btn:active {
	background-color: rgb(33, 124, 128);
	box-shadow: none;
	top: 4px;
}

.note .asterix {
	color: red;
}

.videofeed {
	float: left;
	display: inline-block;

	width: 200px;
	height: 150px;
}

.webrtc-example:not( .active ) .buttons {
	display: none;
}

 video:nth-child( 1 ) {
	background-color: rgb( 41, 154, 158 );
}
 video:nth-child( 2 ) {
	background-color: rgb( 33, 126, 130 );
}
 video:nth-child( 3 ) {
	background-color: rgb( 150, 193, 194 );
}
 video:nth-child( 4 ) {
	background-color: rgb( 159, 50, 45 );
}
 video:nth-child( 5 ) {
 	background-color: #812A27;
} 
 video:nth-child( 6 ) {
	background-color: rgb( 195, 152, 150 );
}
 video:nth-child( 7 ) {
	background-color: rgb( 97, 158, 38 );
}
 video:nth-child( 8 ) {
	background-color: rgb( 52, 86, 21 );
}
 video:nth-child( 9 ) {
	background-color: rgb( 170, 195, 149 );
}