<h1>
    Connection
</h1>
{{> messagestructure messageSpecs.specs.connection }}

<h1>
    Auth
</h1>
{{> messagestructure messageSpecs.specs.auth }}

<h1>
    Events
</h1>
{{> messagestructure messageSpecs.specs.event }}

<h1>
    Record
</h1>
{{> messagestructure messageSpecs.specs.record }}

<h1>
    RPC
</h1>
{{> messagestructure messageSpecs.specs.rpc }}

<h1>
    webRTC
</h1>
{{> messagestructure messageSpecs.specs.webRTC }}