<link rel="stylesheet" type="text/css" href="{{link 'asset' 'css/community.css'}}" />
<link rel="stylesheet" type="text/css" href="{{link 'asset' 'css/startpage.css'}}" />

<div id="segment-header">
	<div class="header-wrapper">
		<div class="header-logo"></div>
		<div class="header-text-wrapper">
			<div class="header-text">
				<p class="header-strapline">
					A Scalable Server for Realtime Web Apps	
				</p>
				<ul class="header-bullets">
					<li>Stores and syncs data in realtime </li>
					<li>Built in node.js </li>
					<li>Works for browsers, backend &amp; mobile</li>
					<li>Scales via clustering </li>
					<li>Exceptionally fast &amp; easy to use  </li>
					<li>Open Source and free <small>(MIT License)</small></li>
					<div class="header-buttons">
						<a class="first-btn" href="download/"><large> <i class="fa fa-cloud-download"></i></large> &nbsp; Download</a>
						<a class="second-btn" href="tutorials/getting-started.html"><i class="fa fa-book"></i>  &nbsp; Quick Start Tutorial</a>
					</div>	
				</ul>
			</div>
		</div>
	</div>
</div>

<div id="segment-code">
	<div class="codes">
		<div class="code-left">
<pre><code class="lang-javascript">// Server
var DeepstreamServer = require( 'deepstream.io' ),
    server = new DeepstreamServer();

server.set( 'host', 'localhost' );
server.set( 'port', 6020 );

server.start();</code></pre>
		</div>
		<div class="code-seperator">
		</div>
		<div class="code-right">
<pre><code class="lang-javascript">// Browser / Node Client
var ds = deepstream( 'localhost:6020' ).login(),
    record =ds.record.getRecord( 'stock/hxto' );

record.get( 'name' ); // Hoxton One
record.set( 'employees[1].firstname', 'Zack' );
record.subscribe( 'price', function( price ){ });</code></pre>
		</div>
	</div>
</div>

<div id="segment-example-app">
	<div class="phone-top-wrapper">
		<div class="segment-example-label">
			Example Real-time App
		</div>
		<div class="phone-top">
		</div>
	</div>
	<div id="segment-example-app-wrap">
		<div class="example-app">
			<video id="examplevid" poster="assets/images/poster-example-app.png" src="assets/videos/exmple-app-retina.mp4" preload width="960" height="676" autoplay loop="loop" style="margin: -100px 0px 0px 0px;" >
			</video>
		</div>
	</div>
</div>

<div id="segment-icons">
	<div id="icons">
		<div id="records">
			<img src="assets/images/icon-records.svg" width="120" height="120" />
			<div class="icons-label">
				data-sync
			</div>
			<p class="text">
				JSON structures that can be read, manipulated and listened to. 
			</p>
		</div>
		<div id="events">
			<img src="assets/images/icon-events.svg" width="120" height="120" />
			<div class="icons-label">
				pub-sub
			</div>
			<p class="text">
				Messages that can be sent to<br /> one or more subscribers.
			</p>
		</div>
		<div id="rpcs">
			<img src="assets/images/icon-RPCs.svg" width="120" height="120" />
			<div class="icons-label">
				request-response
			</div>
			<p class="text">
				Request response workflows, between two clients or servers.
			</p>
		</div>
		<div id="webrtc">
			<img src="assets/images/icon-WebRTC.svg" width="120" height="120" />
			<div class="icons-label">
				web-rtc
			</div>
			<p class="text">
				Video and Audio streaming directly between clients
			</p>
		</div>
	</div>
</div>

<div id="segment-community">
	<div class="segment-community-wrapper clearfix">
		<div class="segment-community-wrapper-first-column">
			{{> latestevents}}
			{{> latestblogs}}
		</div>
		<div class="segment-community-wrapper-second-column">
			{{> collaborate}}
		</div>
	</div>
</div>

<div id="segment-diagram">
	<img class="diagram-image" src="assets/images/diagram-ani-vSVG.svg">
	<div class="diagram">
		<div class="segment-label">
		Under the Hood
		</div>
		<div class="diagram-label diagram-label-1">
			Storage
		</div>
		<div class="diagram-label diagram-label-2">
			Cache
		</div>
		<div class="diagram-label diagram-label-3">
			Messaging
		</div>
		<div class="diagram-label diagram-label-4">
			deepstream.io
		</div>
		<div class="diagram-label diagram-label-5">
			Clients
		</div>
	</div>
</div>

<div id="segment-security">
	<div class="wrapper">
		<div class="lock"></div>
		<div class="security-content">
			<p class="security-text">
				We know you're worried about security, and so are we. That's why deepstream helps you to secure each and every step as your information makes it's way.
			</p>
			<ul class="security-bullets">
				<li>Https &amp; Wss </li>
				<li>Granular Permissions</li>
				<li>Performant and Scalable</li>
			</ul>
		</div>
	</div>
</div>