<link rel="stylesheet" type="text/css" href="{{link 'asset' 'css/startpage.css'}}" />

<h1>deepstream.io</h1>

<div id="segment-header">
	<div class="header-logo">
		<div class="header-text">
			<p class="header-strapline">
				A Scalable Server for Realtime Web Apps	
			</p>
			<ul class="header-bullets">
				<li>Exceptionally fast &amp; easy to use  </li>
				<li>Built in node.js </li>
				<li>Works for browsers, backend &amp; mobile</li>
				<li>Scales via clustering </li>
				<li>Stores and syncs data in realtime </li>
				<li>Open Source and free (MIT License)</li>
			</ul>
		</div>	
	</div>
</div>

<div id="segment-code">
</div>

<div id="segment-example-app">
	<div class="example-app">
		<div class="segment-label">
			Example App
			</div>
	</div>
</div>

<div id="segment-three-icons">
	<div id="three-icons">
	    <div id="left-records">
	    <div class="three-icons-label">
				Records
			</div>
	    	<p class="records-text">
				JSON structures that can be read,manipulated and listened to. 
			</p>
	    </div>
	    <div id="center-events">
	    	<div class="three-icons-label">
				Events
			</div>
	     	<p class="events-text">
				Messages that can be sent to one or more subcribers.
			</p>
	     </div>
	    <div id="right-rpcs">
	    <div class="three-icons-label">
				RPCs
			</div>
	    	<p class="rpcs-text">
				Request response workflows, between two clients or servers.
			</p>
	    </div>
	</div>
</div>

<div id="segment-diagram">
	<div class="diagram">
		<div class="segment-label">
		Under the Hood
		</div>
		<div class="diagram-label diagram-label-1">
			Storage
		</div>
		<div class="diagram-label diagram-label-2">
			Cache
		</div>
		<div class="diagram-label diagram-label-3">
			Messaging
		</div>
		<div class="diagram-label diagram-label-4">
			deepstream.io
		</div>
		<div class="diagram-label diagram-label-5">
			Clients
		</div>
	</div>
</div>

<div id="segment-security">
	<div class="lock">
		<p class="security-text">
			We know you're worried about security, and so are we. That's why deepstream helps you to secure each and every step as your information makes it's way.
		</p>
		<ul class="security-bullets">
		  <li>Https &amp; Wss </li>
		  <li>Granular Permissions</li>
		  <li>Performant and Scalable</li>
		</ul>
	</div>
</div>





{{!-- 
<video src="assets/videos/deepstream-message-flow.mp4" autoplay loop autobuffer></video>
--}}