<link rel="stylesheet" type="text/css" href="{{link 'asset' 'css/startpage.css'}}" />

<h1>deepstream.io</h1>

<div id="segment-diagram">
	<div class="diagram">
		<div class="segment-label">
		Under the Hood
		</div>
		<div class="diagram-label diagram-label-1">
			Storage
		</div>
		<div class="diagram-label diagram-label-2">
			Cache
		</div>
		<div class="diagram-label diagram-label-3">
			Messaging
		</div>
		<div class="diagram-label diagram-label-4">
			deepstream.io
		</div>
		<div class="diagram-label diagram-label-5">
			Clients
		</div>
	</div>
</div>

{{!-- 
<video src="assets/videos/deepstream-message-flow.mp4" autoplay loop autobuffer></video>
--}}