<link rel="stylesheet" type="text/css" href="{{link 'asset' 'css/startpage.css'}}" />
<link rel="stylesheet" type="text/css" href="{{link 'asset' 'css/syntaxhighlighter.css'}}" />

<div id="segment-header">
	<div class="header-logo">
		<div class="header-text">
			<p class="header-strapline">
				A Scalable Server for Realtime Web Apps	
			</p>
			<ul class="header-bullets">
				<li>Exceptionally fast &amp; easy to use  </li>
				<li>Built in node.js </li>
				<li>Works for browsers, backend &amp; mobile</li>
				<li>Scales via clustering </li>
				<li>Stores and syncs data in realtime </li>
				<li>Open Source and free (MIT License)</li>
				<div class="header-buttons">
					<a class="first-btn" href=""><i class="fa fa-cloud-download"></i> &nbsp; Download</a>

					<a class="second-btn" href=""><i class="fa fa-book"></i>  &nbsp; Quick Start Tutorial</a>
				</div>	
			</ul>
		</div>
	</div>
</div>

<div id="segment-code">
	<div class="codes">
		<div class="code-left">
		<pre><code><span class="token comment" spellcheck="true">// Server<br><br>
</span><span class="token keyword">var</span> DeepstreamServer <span class="token operator">=</span> <span class="token function">require<span class="token punctuation">(</span></span> <span class="token string">'deepstream.io'</span> <span class="token punctuation">)</span><span class="token punctuation">,</span>
    server <span class="token operator">=</span> <span class="token keyword">new</span> <span class="token class-name">DeepstreamServer</span><span class="token punctuation">(</span><span class="token punctuation">)</span><span class="token punctuation">;</span>

server<span class="token punctuation">.</span><span class="token keyword">set</span><span class="token punctuation">(</span> <span class="token string">'host'</span><span class="token punctuation">,</span> <span class="token string">'localhost'</span> <span class="token punctuation">)</span><span class="token punctuation">;</span>
server<span class="token punctuation">.</span><span class="token keyword">set</span><span class="token punctuation">(</span> <span class="token string">'port'</span><span class="token punctuation">,</span> <span class="token number">6020</span> <span class="token punctuation">)</span><span class="token punctuation">;</span>
<br />
server<span class="token punctuation">.</span><span class="token function">start<span class="token punctuation">(</span></span><span class="token punctuation">)</span><span class="token punctuation">;</span>
		</div>
		<div class="code-seperator">
		</div>
		<div class="code-right">
		<span class="token comment" spellcheck="true">
// Browser / Node Client <br><br>
</span><span class="token keyword">var</span> ds <span class="token operator">=</span> <span class="token function">deepstream<span class="token punctuation">(</span></span> <span class="token string">'localhost:6020'</span> <span class="token punctuation">)</span><span class="token punctuation">.</span><span class="token function">login<span class="token punctuation">(</span></span><span class="token punctuation">)</span><span class="token punctuation">,</span><br />
&nbsp;&nbsp;&nbsp;&nbsp;record <span class="token operator">=</span> ds<span class="token punctuation">.</span>record<span class="token punctuation">.</span><span class="token function">getRecord<span class="token punctuation">(</span></span> <span class="token string">'stock/hxto'</span> <span class="token punctuation">)</span><span class="token punctuation">;</span><br />

<br />
record<span class="token punctuation">.</span><span class="token keyword">get</span><span class="token punctuation">(</span> <span class="token string">'name'</span> <span class="token punctuation">)</span><span class="token punctuation">;</span><span class="token comment" spellcheck="true"> // Hoxton One</span><br />
record<span class="token punctuation">.</span><span class="token keyword">set</span><span class="token punctuation">(</span> <span class="token string">'employees[1].firstname'</span><span class="token punctuation">,</span> <span class="token string">'Zack'</span> <span class="token punctuation">)</span><span class="token punctuation">;</span><br />
record<span class="token punctuation">.</span><span class="token function">subscribe<span class="token punctuation">(</span></span> <span class="token string">'price'</span><span class="token punctuation">,</span> <span class="token keyword">function</span><span class="token punctuation">(</span> price <span class="token punctuation">)</span><span class="token punctuation">{</span> <span class="token comment" spellcheck="true">/***/</span> <span class="token punctuation">}</span><span class="token punctuation">)</span><span class="token punctuation">;</span><br />
<br />
ds<span class="token punctuation">.</span>event<span class="token punctuation">.</span><span class="token function">emit<span class="token punctuation">(</span></span> <span class="token string">'chat/14'</span><span class="token punctuation">,</span> <span class="token punctuation">{</span><br />&nbsp;&nbsp;&nbsp;&nbsp;sender<span class="token punctuation">:</span> <span class="token string">'Wolfram'</span><span class="token punctuation">,</span><br />&nbsp;&nbsp;&nbsp;&nbsp;data<span class="token punctuation">:</span> <span class="token string">'hey'</span><br /><span class="token punctuation">}</span><span class="token punctuation">)</span><span class="token punctuation">;</span>
</code></pre>
		</div>
	</div>
</div>

<div id="segment-example-app">
	<div class="example-app">
		<div class="segment-label">
			Example App
			</div>
	</div>
</div>

<div id="segment-three-icons">
	<div id="three-icons">
	    <div id="left-records">
	    <div class="three-icons-label">
				Records
			</div>
	    	<p class="records-text">
				JSON structures that can be read,manipulated and listened to. 
			</p>
	    </div>
	    <div id="center-events">
	    	<div class="three-icons-label">
				Events
			</div>
	     	<p class="events-text">
				Messages that can be sent to one or more subcribers.
			</p>
	     </div>
	    <div id="right-rpcs">
	    <div class="three-icons-label">
				RPCs
			</div>
	    	<p class="rpcs-text">
				Request response workflows, between two clients or servers.
			</p>
	    </div>
	</div>
</div>

<div id="segment-diagram">
	<div class="diagram">
		<div class="segment-label">
		Under the Hood
		</div>
		<div class="diagram-label diagram-label-1">
			Storage
		</div>
		<div class="diagram-label diagram-label-2">
			Cache
		</div>
		<div class="diagram-label diagram-label-3">
			Messaging
		</div>
		<div class="diagram-label diagram-label-4">
			deepstream.io
		</div>
		<div class="diagram-label diagram-label-5">
			Clients
		</div>
	</div>
</div>

<div id="segment-security">
	<div class="lock">
		<p class="security-text">
			We know you're worried about security, and so are we. That's why deepstream helps you to secure each and every step as your information makes it's way.
		</p>
		<ul class="security-bullets">
		  <li>Https &amp; Wss </li>
		  <li>Granular Permissions</li>
		  <li>Performant and Scalable</li>
		</ul>
	</div>
</div>





{{!-- 
<video src="assets/videos/deepstream-message-flow.mp4" autoplay loop autobuffer></video>
--}}